/*limpando formatação padrão*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 1em;
	font-family: "Trebuchet MS",Helvetica,sans-serif;
	background-color: #e6e6e6;
}


/*
********Layout******
*/
#area-cabecalho{
	background-color: #f7b600;
	padding: 15px;
	text-align: center;
}
#area-logo, #area-menu{
	padding: 10px; /*espaço entre os itens*/
}
#area-principal{ /*conteudo total do site*/
	width: 920px;
	margin: 0 auto; /*auto deixa o contedo centralizado/ margem se ajusta automaticamente*/
    padding: 15px;
}
#area-lateral{ 
	width: 240px;
	float: right;/*faz essa area ficar a direita*/
}

#area-postagens{
	width: 660px;
	float: left;/*faz esssa area ficar esquerda*/
}
.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}
.conteudo-lateral{
	background:white;
	padding: 10px;
	margin-bottom: 20px;
}
.postagem-lateral{
	font-size: 0.8em;
	padding: 5px;
}
#rodape{
	clear: both;
	text-align: center;
	padding: 15px;
	background:#ccc;
}


/*
**** Formatação do menu ******
*/
a{ /*fomatação de todos os liks*/
	text-decoration: none; /*tira o anderline*/
}
a:link, a:visited {
	color: #f7b600;
}
a:hover { /*mouse dobre o menu*/
	text-decoration: underline;
}
/*define formatacao apenas para menu do cabeçalho */
#area-cabecalho a:link,#area-cabecalho a:visited {
	color: #fff;
	padding: 8px 12px; /*espaço entre os links*/
}
#area-cabecalho a:hover { /*mouse dobre o menu*/
	color: #f7b600;
	background: #fff;
	text-decoration: none;

}



/*
*****Fomatações em geral*******
*/
h1{
	color: #4e4e4e;
	font-size: 2.5em;
}
h2{
	color: #f7b600;
}
h3{
	color: #565656;
	background:#ccc;
	padding: 5px;
}
.branco{
	color: white;
}
.data-postagem{
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;/*assim ele será um elemento de bloco pemite que as propriedades acima funcionem,
	*/
}
